<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/images/icon.png" />
  <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <link rel="stylesheet" type="text/css" href="/styles/forms.css">
    <link rel="stylesheet" type="text/css" href="/styles/tables.css">
<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
</head>
<body>
  <main>
    <div class="grid">
      <div class="content-box">
        <section id="content">
          <%= yield %>
        </section>
      </div>
    </div>
  </main>
  <%= erb :"nav/footer" %>
</body>
</html>
