<!-- Home Screen Navigation -->
<div class="banner">
  <h1>Blue Cat Vet Management System</h1>
</div>
<nav>
  <ul class="flex">
    <li>
      <a href="/pets/new">Register New Pet</a>
    </li>
    <li>
      <a href="/owners/schedule">Pet Owner Details</a>
    </li>
    <li>
      <a href="/pets">Update Record</a>
    </li>
    <li>
      <a href="/vets/schedule">Vets</a>
    </li>
    <li>
      <a href="/vets/admin">Administration</a>
    </li>
  </ul>
</nav>
