<!DOCTYPE html>
<html>
<head>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <title><%= @title %></title>
  <!-- <link href="https://fonts.googleapis.com/css?family=Merriweather|Special+Elite" rel="stylesheet">
  <link rel="icon" href="/images/xxx.png" /> -->
<!-- Add icon font -->
<link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>
<main>
  <div class="grid">
    <h2>Acorn Vet/Pet Management Application</h2>
    <div class="nav-box">
      <%= erb :"nav/top_nav" %>
      </div>
      <div class="content-box">
        <section id="content">
        <%= yield %>
        </section>
      </div>
    </div>
  </main>
 <%= erb :"nav/footer" %>
</body>
</html>
