<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <link rel="icon" href="/images/icon.png" />
  <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>
  <main>
    <div class="grid">
      <div class="banner">
        <h2>Acorn Vet/Pet Management Application</h2>
      </div>
      <div class="nav-box">
        <%= erb :"nav/top_nav" %>
      </div>
      <div class="content-box">
        <section id="content">
          <%= yield %>
        </section>
      </div>
    </div>
  </main>
  <%= erb :"nav/footer" %>
</body>
</html>
