<div class="form-wrapper">
  <form method="post" action="/pets">
  <label for="pet-name-field">Pet Name:</label>
  <input required
  type="text"
  name="name"
  id="pet-name-field"
  />

  <label for="date-of-birth-field">Date of Birth:</label>
  <input required
  type="text"
  name="date_of_birth"
  id="date-of-birth-field"
  />

  <label for="pet-type-selection">Select Pet Type:</label>
  <select name="pet_type_id" id="pet-type-selection" required>
    <option value="1">Cat</option>
    <option value="2">Dog</option>
    <option value="3">Horse</option>
    <option value="4">Spider</option>
    <option value="5">Snake</option>
    <option value="6">Other</option>
  </select>

  <label for="owner-name-field">Owner's name:</label>
  <input required
  type="text"
  name="owner_name"
  id="owner-name-field"
  />

  <label for="owner-mobile-field">Owner's Mobile:</label>
  <input required
  type="text"
  name="owner_mobile"
  id="owner-mobile-field"
  />

  <label for="vet-selection">Select Vet:</label>
  <select name="vet_id" id="vet-selection" required>
    <option value="1">Dr Smith</option>
    <option value="2">Dr Jones</option>
  </select>

  <label for="treatment-notes">Treatment Notes:</label>
  <textarea rows="10" cols="50" id="treatment-notes" name='treatment_notes'>
  </textarea>

  <input type="submit" value="Register Pet">
</form>
</div>
