<form method="post" action="/pets">
  <label for="pet-name-field">Pet Name:</label>
  <input
  type="text"
  name="name"
  id="pet-name-field"
  />

  <label for="date-of-birth-field">Date of Birth:</label>
  <input
  type="text"
  name="date_of_birth"
  id="date-of-birth-field"
  />

  <label for="pet-type-selection">Select Pet Type:</label>
  <select name="pet_type" id="pet-type-selection">
    <option value="Cat">Cat</option>
    <option value="Dog">Dog</option>
    <option value="Horse">Horse</option>
    <option value="Spider">Spider</option>
    <option value="Snake">Snake</option>
    <option value="Other">Other</option>
  </select>

  <label for="owner-name-field">Owner's name:</label>
  <input
  type="text"
  name="owner_name"
  id="owner-name-field"
  />

  <label for="owner-mobile-field">Owner's Mobile:</label>
  <input
  type="text"
  name="owner_mobile"
  id="owner-mobile-field"
  />

  <label for="vet-selection">Select Vet:</label>
  <select name="vet_id" id="vet-selection">
    <option value="1">Dr Smith</option>
    <option value="2">Dr Jones</option>
  </select>

  <input type="submit" value="Register Pet">
</form>
