<footer>
  <hr />
  <a href="/"><i class="fas fa-cat"></i></a>
  <p><small>Copyright &copy; 2019 - Blue Cat Vets</small></p>
  <p><a href="#"><i class="fab fa-facebook-square"></i></a>
    <a href="#"><i class="fab fa-twitter-square"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
    <a href="#"> <i class="fab fa-youtube"></i></p></a>
  </footer>
