<nav>
  <ul class="flex">
    <li>
      <a href="/pets/new">Register New Pet</a>
    </li>
    <li>
      <a href="/pets">Update Pet Records</a>
    </li>
    <li>
      <a href="/vets/schedule">Vet Schedule</a>
    </li>
    <li>
      <a href="/vets/admin">Vet Admin</a>
    </li>
  </ul>
</nav>
