<div class="sub-banner">
  <h1>Blue Cat Pet/Vet Management Application</h1>
  </div>
<nav class="subnav">
  <ul>
    <li>
      <a href="/pets/new">Register New Pet</a>
     |</li>
    <li>
      <a href="/pets">Update Pet Records</a>
     |</li>
    <li>
      <a href="/vets/schedule">Vet's Schedule</a>
     |</li>
    <li>
      <a href="/vets/admin">Vet's Admin</a>
     |</li>
  </ul>
  <!-- <a href="/"><i class="fas fa-cat"></i></a> -->
</nav>
