<nav>
  <div class="banner">
    <p>Blue Cat Pet/Vet Management Application</p>
    </div>
  <ul class="flex">
    <li>
      <a href="/pets/new">Register New Pet</a>
    </li>
    <li>
      <a href="/pets">Update Pet Records</a>
    </li>
    <li>
      <a href="/vets/schedule">Vet's Schedule</a>
    </li>
    <li>
      <a href="/vets/admin">Vet's Admin</a>
    </li>
  </ul>
  <a href="/"><i class="fas fa-cat"></i></a>
</nav>
