<h3>Edit Vet Details</h3>

  <table>
    <tr>
      <th>Vet Name</th>
      <th>Edit</th>
    </tr>
    <% @vets.each do |vet| %>
    <tr>
      <td><a href = "/vets/<%= vet.id%>/edit" ><%= vet.name%> </a></td>
      <td><a href = "/vets/<%= vet.id%>/edit" ><i class="fas fa-user-edit"></i><a></td>
    </tr>
    <% end %>
  </table>


<hr />
<h3>Add Vet Details</h3>
<div class="form-wrapper">
  <form method="post" action="/vets">
  <label for="vet-name-field">Vet Name:</label>
  <input required
  type="text"
  name="name"
  id="vet-name-field"
  />

  <label for="vet-mobile-field">Vet Mobile:</label>
  <input required
  type="text"
  name="mobile"
  id="vet-mobile-field"
  />
  <input type="submit" value="Add a Vet">
</form>
</div>
