<h1>Warning: "Danger, Will Robinson!"</h1>
<h3>Hector says:</h3>
<ul>
<li>Before deleting a vet consider allocating their pets to another vet otherwise
    you will get really strange Sinatra errors. Foreign key indeed!!</li>
</ul>
