<!-- Add tabindex="x" to form Objects -->
<div class="form-wrapper">
  <form method="post" action="/owners/<%= @owner.id %>">
    <div class = "inputWrapper">
      <label for="owner-name-field">Owner Name:</label>
      <input required
      type="text"
      name="name"
      id="owner-name-field"
      value="<%= @owner.name %>"
      />
    </div>

    <div class = "inputWrapper">
      <label for="owner-mobile-field">Mobile:</label>
      <input required
      type="text"
      name="mobile"
      id="owner-mobile-field"
      value="<%= @owner.mobile %>"
      />
    </div>

    <div class = "inputWrapper">
      <label for="owner-email-field">Email:</label>
      <input required
      type="text"
      name="email"
      id="owner-email-field"
      value="<%= @owner.email %>"
      />
    </div>

    <input type="submit" value="Update Owner">
  </form>
</div>
